src/main/resources/xml/plane.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Characteristics type -->
    <xs:complexType name="charsType">
        <xs:sequence>
            <xs:element name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="самолет поддержки"/>
                        <xs:enumeration value="сопровождения"/>
                        <xs:enumeration value="истребитель"/>
                        <xs:enumeration value="перехватчик"/>
                        <xs:enumeration value="разведчик"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="seats" type="xs:integer" maxOccurs="2"/>
            <xs:element name="weapons" type="xs:boolean"/>
            <xs:element name="missiles" type="xs:decimal" maxOccurs="10"/>
            <xs:element name="hasRadar" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Parameters type -->
    <xs:complexType name="parametersType">
        <xs:sequence>
            <xs:element name="length" type="xs:decimal"/>
            <xs:element name="width" type="xs:decimal"/>
            <xs:element name="height" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Price type -->
    <xs:complexType name="priceType">
        <xs:sequence>
            <xs:element name="amount" type="xs:decimal"/>
            <xs:element name="currency" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Aircraft type -->
    <xs:complexType name="plane">
        <xs:annotation>
            <xs:documentation>Aircraft entity</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="model" type="xs:string"/>
            <xs:element name="origin" type="xs:string"/>
            <xs:element name="chars" type="charsType"/>
            <xs:element name="parameters" type="parametersType"/>
            <xs:element name="price" type="priceType"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>